VRS DATA

`wget http://download.vrsinfo.de/gtfs/google_transit.zip`

`unzip google_transit.zip -d gtfs_vrs`

[NRW Data](https://www.opendata-oepnv.de/ht/de/organisation/bundeslaender/nrw/startseite?tx_vrrkit_view%5Bdataset_name%5D=soll-fahrplandaten-nrw&tx_vrrkit_view%5Baction%5D=details&tx_vrrkit_view%5Bcontroller%5D=View)

`wget https://www.opendata-oepnv.de/dataset/3c97be05-1f89-4fc8-89f0-a9228ae0395e/resource/8fdf1313-aa12-4318-9e55-121e50f56a2a/download/20220308_gtfs_nrw.zip`

`unzip 20220308_gtfs_nrw.zip -d solldaten_nrw`

In [5]:
import geopandas
import pandas as pd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
import mapclassify

FILEPATH = 'solldaten_nrw/'
#FILEPATH = 'gtfs_vrs/'

In [12]:
# Print Agencies

agency_df = pd.read_csv(f'{FILEPATH}agency.txt')
agency_df

,agency_id,agency_name,agency_url,agency_timezone
0,bgs-30,BOGESTRA CE,http://efa.vrr.de,Europe/Berlin
1,bgs-31,BOGESTRA SB,http://efa.vrr.de,Europe/Berlin
2,bgs-32,BOGESTRA U-Bahn,http://efa.vrr.de,Europe/Berlin
3,bgs-34,BOGESTRA BUS,http://efa.vrr.de,Europe/Berlin
4,bgs-33,BOGESTRA STRAB,http://efa.vrr.de,Europe/Berlin
...,...,...,...,...
89,ddb-W3,WestfalenBahn,http://efa.vrr.de,Europe/Berlin
90,ddb-RS,Verkehrsgesellschaft Start Unterelbe mbH,http://efa.vrr.de,Europe/Berlin
91,ddb-TR,MittelrheinBahn (Trans Regio),http://efa.vrr.de,Europe/Berlin
92,ddb-W2,Daadetalbahn,http://efa.vrr.de,Europe/Berlin
93,ddb-M2,REGIOBAHN,http://efa.vrr.de,Europe/Berlin

In [9]:
# Print Stops

stops_df = pd.read_csv(f'{FILEPATH}stops.txt')
stops_df.tail()
#stops_df[stops_df['stop_id'] == 2141]

,stop_id,stop_code,stop_name,stop_lat,stop_lon,stop_url,location_type,parent_station,wheelchair_boarding,platform_code
92564,NL:Q:69160090,NaN,"Nettetal, Kaldenkirchen Poststraße,Nettetal",51.326409,6.199292,NaN,NaN,NaN,0.0,NaN
92565,NL:S:66270420,NaN,"Kerkrade, Bleijerheide Grens,Bleijerheide",50.847378,6.073761,NaN,NaN,NaN,0.0,NaN
92566,NL:S:66451140,NaN,"Vaals, De Lange Akker,Vaals",50.771103,6.009945,NaN,NaN,NaN,0.0,NaN
92567,NL:S:69000900:2:E,NaN,"Venlo, Station (Bus)",51.365170,6.171704,NaN,NaN,NaN,0.0,NaN
92568,NL:S:vl:90,NaN,"Venlo, Bahnhof",51.365170,6.171704,NaN,NaN,NaN,0.0,NaN

In [27]:
# Load stops.txt -> export stops.geojson

stops_df = pd.read_csv(f'{FILEPATH}stops.txt')
df = stops_df

stops_geometry = geopandas.points_from_xy(stops_df.stop_lon, stops_df.stop_lat)
stops_geo_df = geopandas.GeoDataFrame(df[['stop_id','stop_name']], geometry=stops_geometry)

stops_geo_df.to_file("stops.geojson", driver='GeoJSON')

/home/torben/projects/env_notebook/lib/python3.8/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [ ]:
# Print Stops on map !! very slow in notebook

#m = stops_geo_df.explore()

#folium.TileLayer('Stamen Terrain',  zoom_start = 9, control=True).add_to(m)  # use folium to add alternative tiles
#folium.LayerControl().add_to(m)  # use folium to add layer control

#marker_cluster = MarkerCluster().add_to(m)

#m  # show map
# Stamen Terrain
#map = folium.Map(location = [13.406,80.110], tiles = "Stamen Terrain", zoom_start = 9)
#map

In [28]:
# Print trips

trips_df = pd.read_csv(f'{FILEPATH}trips.txt')
trips_df.tail()
#trips_df[trips_df['trip_id'] == "1223-520-008-8129.2.21-113500-56"]

/tmp/ipykernel_15317/3609292282.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  trips_df = pd.read_csv(f'{FILEPATH}trips.txt')

,route_id,service_id,trip_id,shape_id,trip_headsign,trip_short_name,direction_id,wheelchair_accessible
314123,ddb-92-K23-1,Special#1443,ddb-92-K23-1-1-17-R-0-Special#1443-233-272,NaN,NaN,11755.0,1,1
314124,ddb-92-K23-1,Special#1443,ddb-92-K23-1-1-17-R-0-Special#1443-234-273,NaN,NaN,11763.0,1,1
314125,ddb-92-K23-1,Special#1261,ddb-92-K23-1-1-17-R-0-Special#1261-235-274,NaN,NaN,11771.0,1,1
314126,ddb-92-K23-1,Special#1261,ddb-92-K23-1-1-17-R-0-Special#1261-224-275,NaN,NaN,11779.0,1,1
314127,ddb-92-K23-1,Special#1261,ddb-92-K23-1-1-17-R-0-Special#1261-225-276,NaN,NaN,11787.0,1,1

In [8]:
# print routes

routes_df = pd.read_csv(f'{FILEPATH}routes.txt')
routes_df.tail()

,route_id,agency_id,route_short_name,route_long_name,route_type,route_color,route_text_color
4818,ddb-92-E28-1,ddb-M2,S28,NaN,109,007E32,FFFFFF
4819,ddb-92-E68-1,ddb-8003,S68,NaN,109,007E32,FFFFFF
4820,ddb-92-K12-1,ddb-8003,S12,NaN,109,007E32,FFFFFF
4821,ddb-92-K19-1,ddb-8003,S19,NaN,109,007E32,FFFFFF
4822,ddb-92-K23-1,ddb-8003,S23,NaN,109,007E32,FFFFFF

In [6]:
# Print Stop_times

stopt_df = pd.read_csv(f'{FILEPATH}stop_times.txt')

#stopt_df[stopt_df['stop_id'] == 'NL:S:66270420']

/tmp/ipykernel_464/3464631935.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  stopt_df = pd.read_csv(f'{FILEPATH}stop_times.txt')

In [11]:
# Function to calculate stop_times counts with stop_id as parameter

def get_stopstimes_count(stop_id):
    return stopt_df['trip_id'].loc[stopt_df['stop_id'] == stop_id].count()

# Calculate stop_times count for stop_id 'be:05334:5153:1:1'
get_stopstimes_count('be:05334:5153:1:1')

# Calculate stops_times per stop_id using get_stoptimes_count !! super slow, data from 04.2022 is in this repo
#stops_df['new_col'] = stops_df.apply(lambda row: get_stopstimes_count(row.stop_id) , axis=1)

58